</div>	
	<footer id="footer" class="main-footer footer-bottom-horizontal">
		<div class="container">
			<div class="footer-widgets">
				<div class="row">
					<div class="col-sm-4">
						<div class="wp-widget section widget_text text-2">
							<h3>Kalium.</h3>			
							<div class="textwidget">We are a multi functional agency,
								<br>
								we love good things and great design.
								<br>
								<br>
								Say hello to us <a href="mailto:someone@example.com?Subject=Hello" target="_top">hello@kalium.com</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="wp-widget section null-instagram-feed null-instagram-feed-2">
							<h3>Shots.</h3>
							<ul class="instagram-pics instagram-size-thumbnail">
								<li class=""><a href="http://instagram.com/p/BIcZI7Pj2Nh/" target="_blank" class=""><img src="/images/13774196_596585933855552_2060691384_n.jpg" alt="Mother and child by Herb Lubalin. #logo #branding #logothorns" title="Mother and child by Herb Lubalin. #logo #branding #logothorns" class=""></a></li>
								
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="wp-widget section widget_rotatingtweets_widget rotatingtweets_widget-2">
							<h3>Tweets.</h3>
							<div class="rotatingtweets rotatingtweets_format_0" id="rotatingtweets_6000_fade_1000_579ff8f9c9a5b" data-cycle-auto-height="calc" data-cycle-fx="fade" data-cycle-pause-on-hover="true" data-cycle-timeout="6000" data-cycle-speed="1000" data-cycle-easing="swing" data-cycle-slides="div.rotatingtweet" data-cycle-log="false" style="position: relative;">
								<div class="rotatingtweet cycle-slide cycle-sentinel" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; display: block; visibility: hidden;">
									<p class="rtw_main" style="visibility: hidden;">We have released Kalium 1.9.3 which now fully support <a href="https://twitter.com/intent/user?user_id=3250053558" title="WooCommerce" lang="en" style="visibility: hidden;">@WooCommerce</a> 2.6.x, also there are some new features and bug fixes :) <a href="https://twitter.com/intent/user?user_id=2508601772" title="Envato Market" lang="en" style="visibility: hidden;">@EnvatoMarket</a></p>
									<p class="rtw_meta" style="visibility: hidden;"><a href="https://twitter.com/twitterapi/status/748846453729230848" style="visibility: hidden;">About a month ago</a></p>
								</div>

								<div class="rotatingtweet cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 97; opacity: 0; display: block; visibility: hidden;">
									<p class="rtw_main">We have released Kalium 1.9.3 which now fully support <a href="https://twitter.com/intent/user?user_id=3250053558" title="WooCommerce" lang="en">@WooCommerce</a> 2.6.x, also there are some new features and bug fixes :) <a href="https://twitter.com/intent/user?user_id=2508601772" title="Envato Market" lang="en">@EnvatoMarket</a></p>
									<p class="rtw_meta"><a href="https://twitter.com/twitterapi/status/748846453729230848">About a month ago</a></p>
								</div>

								<div class="rotatingtweet cycle-slide" style="display: block; position: absolute; top: 0px; left: 0px; z-index: 96; visibility: hidden; opacity: 0;">
										<p class="rtw_main">Laboorator becomes 58th Power Elite Author on Envato, check out our interview. <a href="https://t.co/UDzk4WIMUW" title="http://fb.me/7ZZlfJ3zd" class="rtw_url_link">fb.me/7ZZlfJ3zd</a></p>
										<p class="rtw_meta"><a href="https://twitter.com/twitterapi/status/742991409641357313">About 2 months ago</a></p>
								</div>
								<div class="rotatingtweet cycle-slide" style="display: block; position: absolute; top: 0px; left: 0px; z-index: 95; visibility: hidden; opacity: 0;">
									<p class="rtw_main">An interview with Power Elite, Laborator <a href="https://t.co/yuiokUChsY" title="http://community.envato.com/interview-power-elite-laborator/" class="rtw_url_link">community.envato.com/intervie…</a> <a href="https://twitter.com/intent/user?user_id=16582191" title="Envato" lang="en">@envato</a> <a href="https://twitter.com/intent/user?user_id=2508601772" title="Envato Market" lang="en">@EnvatoMarket</a></p>
									<p class="rtw_meta"><a href="https://twitter.com/twitterapi/status/742989736013398016">About 2 months ago</a></p>
								</div>
								<div class="rotatingtweet cycle-slide" style="display: block; position: absolute; top: 0px; left: 0px; z-index: 100; visibility: hidden; opacity: 0;">
									<p class="rtw_main">We are happy to announce that Kalium theme is officially compatible with WPML – <a href="https://t.co/1T2AVQ0Tzv" title="https://wpml.org/theme/kalium/" class="rtw_url_link">wpml.org/theme/kalium/</a></p>
									<p class="rtw_meta"><a href="https://twitter.com/twitterapi/status/742319794976919552">About 2 months ago</a></p>
								</div>
								<div class="rotatingtweet cycle-slide cycle-slide-active" style="display: block; position: absolute; top: 0px; left: 0px; z-index: 99; visibility: visible; opacity: 1;">
									<p class="rtw_main">Oxygen WooCommerce WordPress Theme is used by YouTuber Mic Bergsma’s for his website. With 350k subscribers <a href="https://twitter.com/intent/user?user_id=16582191" title="Envato" lang="en">@envato</a> <a href="https://t.co/RE2ToosJtj" title="http://twitter.com/thelaborator/status/741740901236629504/photo/1" class="rtw_media_link">pic.twitter.com/RE2ToosJtj</a></p>
									<p class="rtw_meta"><a href="https://twitter.com/twitterapi/status/741740901236629504">About 2 months ago</a></p>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
			<hr>	
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="footer-bottom-content">
					<div class="footer-content-right">
						<ul class="social-networks textual">
							<li><a href="https://www.facebook.com/laboratorcreative" target="_blank" class="color facebook" title="Facebook"><i class="fa fa-facebook"></i><span class="name">Facebook.</span></a></li>
						</ul>					
					</div>
					
					<div class="footer-content-left">
						<div class="copyrights">
							<p>© Copyright 2016. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="/js/jquery.cycle2.renamed.js"></script>
	<script type="text/javascript" src="/js/jquery.cycle2.scrollVert.renamed.js"></script>
	<script type="text/javascript" src="/js/jquery.cycle2.carousel.renamed.js"></script>
	<script type="text/javascript" src="/js/rotatingtweets_v2.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/joinable.min.js"></script>
	<script type="text/javascript" src="/js/wp-embed.min.js"></script>
	<script type="text/javascript" src="/js/custom.min.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-28991003-11', 'auto');
	  ga('send', 'pageview');

	</script>
	
	<iframe id="rufous-sandbox" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: none;" src=""></iframe>
</body>
</html>